%button-style {
    padding: 16px auto;
    text-align: center;
    cursor: pointer;
    background: $dark;
    color: $white !important;
    display: block;
    &:hover {
        color: $warning !important;
    }
    &:disabled {
        background: $gray-500;
    }
}

.button-full {
    @extend %button-style;
    width: 100%;
}
