.event-card {
    .date {
        font-size: 32px;
        @include media-lg {
            font-size: 48px;
        }
    }
    .card-title {
        font-size: 18px;
    }
    .card-content {
        font-size: 16px;
    }
    .sparkle {
        width: 20px;
    }
}
.category:hover {
    text-decoration: underline;
}
.sale:hover {
    position: relative;
    z-index: 11;
}
.sale:hover::after {
    content: ' ';
    width: 28px;
    height: 28px;
    background-color: $warning;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -4px;
    left: -8px;
    z-index: -1;
}
%event-covers {
    width: 100%;
    height: 210px;
    background-image: $event01;
    background-size: cover;
    background-position: center center;
    @include media-lg {
        height: 255px;
    }
}
.event-cover-1 {
    @extend %event-covers;
    background-image: $event01;
}
.event-cover-2 {
    @extend %event-covers;
    background-image: $event02;
}
.event-cover-3 {
    @extend %event-covers;
    background-image: $event03;
}
.event-cover-4 {
    @extend %event-covers;
    background-image: $event04;
}

.event-cover-5 {
    @extend %event-covers;
    background-image: $event05;
}
.event-cover-6 {
    @extend %event-covers;
    background-image: $event06;
}
