.event-card {
    .date {
        font-size: 32px;
        @include media-md {
            font-size: 48px;
        }
    }
    .card-title {
        font-size: 18px;
    }
    .card-content {
        font-size: 16px;
    }
    .sparkle {
        width: 20px;
    }
}
.social:hover {
    text-decoration: underline;
}
.sale:hover {
    position: relative;
    z-index: 11;
}
.sale:hover::after {
    content: ' ';
    width: 28px;
    height: 28px;
    background-color: $warning;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -4px;
    left: -8px;
    z-index: -1;
}
