.title {
    .title-l {
        font-size: 24px;
        @include media-md {
            font-size: 64px;
        }
    }
    .title-r {
        font-size: 16px;
        @include media-md {
            font-size: 32px;
        }
    }
}
