$cate01: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/089c08805225f9e5861d199b084cba8a05bdaa40/2023week6/cate01.svg");
$cate02: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/089c08805225f9e5861d199b084cba8a05bdaa40/2023week6/cate02.svg");
$cate03: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/089c08805225f9e5861d199b084cba8a05bdaa40/2023week6/cate03.svg");
$cate04: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/089c08805225f9e5861d199b084cba8a05bdaa40/2023week6/cate04.svg");
$cate05: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/089c08805225f9e5861d199b084cba8a05bdaa40/2023week6/cate05.svg");

$logo: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/logo.png");
$sparkler: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png");

// album
$album01: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/album/01.jpg");
$album02: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/album/02.jpg");
$album03: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/album/03.jpg");
$album04: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/album/04.jpg");

// event
$event01: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/01.jpg");
$event02: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/02.jpg");
$event03: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/03.jpg");
$event04: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/04.jpg");
$event05: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/05.jpg");
$event06: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/06.jpg");
$event07: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/07.jpg");
$event08: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/08.jpg");
$event09: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/09.jpg");
$event10: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/10.jpg");
$event11: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/11.jpg");
$event12: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/12.jpg");
$event13: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/13.jpg");
$online: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/online.jpg");