// HERO
swiper-container {
    width: 100%;
    height: 100%;
    &:host {
        --swiper-theme-color: $warning;
    }
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
// 箭頭大小
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 24px;
}
// 箭頭位置
.mySwiper .swiper-button-next {
    right: 12px;
    @include media-lg {
        right: 48px;
    }
}
.mySwiper .swiper-button-prev {
    left: 12px;
    @include media-lg {
        left: 48px;
    }
}

:root {
    --swiper-theme-color: $warning;
}
.sample-slider [class^='swiper-button-']::after {
    content: '';
}
figcaption {
    height: 100%;
}
figcaption .date {
    font-size: 32px;
    line-height: auto;
    top: 0;
    @include media-md {
        font-size: 60px !important;
    }
}
figcaption h3 {
    font-size: 18px;
    line-height: auto;
    top: 0;
    //     @include media-md {
    //         font-size: 60px !important;
    //     }
}
figcaption .slide-content {
    font-size: 16px;
}
.event-slide {
    width: 100%;
    height: 350px;
    background-image: $event13;
    background-size: cover;
    background-position: center center;
    @include media-md {
        min-height: 518px;
    }
}

.event-type {
    img {
        width: 40px;
        @include media-md {
            width: 80px;
        }
    }
    li {
        max-width: 32%;
        // height: 112px;
        font-size: 24px;
        @include media-lg {
            max-width: 15%;
        }
        .font-title {
            font-size: 16px;
            @include media-lg {
                font-size: 24px;
            }
        }
    }
    li:last-child {
        max-width: 32%;
        @include media-lg {
            max-width: 15%;
        }
        .font-title {
            font-size: 24px;
            @include media-lg {
                font-size: 48px;
            }
        }
    }
}
// ONLINE
.online-cover {
    width: 100%;
    min-height: 158px;
    background-image: $online;
    background-size: cover;
    background-position: center 34%;
    @include media-md {
        width: 58%;
        min-height: 317px;
        margin-bottom: 0;
        background-position: center 32%;
    }
}
.online-caption {
    @include media-md {
        width: 41%;
    }
}
.online .title {
    font-size: 18px;
    @include media-lg {
        font-size: 32px;
    }
}
.online .tag {
    font-size: 14px;
    position: relative;
    @include media-lg {
        font-size: 16px;
    }
    &::before {
        content: ' ';
        width: 2px;
        height: 100%;
        display: block;
        background: $dark;
        top: 0;
        left: 0;
        position: absolute;
    }
}
// FOLLOW & SUB
%follow-sub {
    .title {
        font-size: 24px;
    }
}
.follow {
    @extend %follow-sub;
}
.subscribe {
    @extend %follow-sub;
}
// CAPTION
.caption {
    .main {
        font-size: 18px;
    }
    .sub {
        font-size: 14px;
    }
}
