<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>活動訂票網</title>
        <!-- swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <!-- icofont -->
        <link rel="stylesheet" href="../assets/icofont/icofont.min.css" />
    </head>
    <body>
        <%- include('./layout/header'); -%>

        <div class="container">
            <!-- HERO -->
            <div class="hero py-16">
                <swiper-container
                    class="mySwiper mb-32"
                    pagination="true"
                    pagination-clickable="false"
                    navigation="false"
                    space-between="30"
                    centered-slides="true"
                    autoplay-delay="2500"
                    autoplay-disable-on-interaction="true"
                >
                    <swiper-slide class="event-slide">
                        <figcaption
                            class="w-100 px-52 pt-16 pb-24 d-flex flex-column justify-content-between text-white"
                        >
                            <div class="date font-title text-start lh-sm">19 MAY <span class="d-block">2023</span></div>
                            <div class="slide-caption">
                                <h3 class="slide-title text-center font-subtitle">隔牆有耳-沒有草東的派對</h3>
                                <div class="start-0 slide-content d-none d-lg-block">
                                    你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br />
                                    帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！
                                </div>
                            </div>
                        </figcaption>
                    </swiper-slide>
                    <div class="swiper-button-prev text-white"></div>
                    <div class="swiper-button-next text-white"></div>
                </swiper-container>
                <!-- EVENT TYPE -->
                <div class="event-type">
                    <ul class="row p-0 m-0 justify-content-between flex-wrap">
                        <li class="mb-8 list-unstyled pt-20 pt-md-36 px-36 border border-dark border-2 text-center">
                            <figure class="m-0">
                                <img
                                    class="mb-8"
                                    class=""
                                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/089c08805225f9e5861d199b084cba8a05bdaa40/2023week6/cate01.svg"
                                    alt="演出"
                                />
                                <figcaption class="font-title fw-bold">演出</figcaption>
                            </figure>
                        </li>
                        <li class="mb-8 list-unstyled pt-20 pt-md-36 px-36 border border-dark border-2 text-center">
                            <figure>
                                <img
                                    class="mb-8"
                                    class=""
                                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/089c08805225f9e5861d199b084cba8a05bdaa40/2023week6/cate02.svg"
                                    alt="聯誼"
                                />
                                <figcaption class="font-title fw-bold">聯誼</figcaption>
                            </figure>
                        </li>
                        <li class="mb-8 list-unstyled pt-20 pt-md-36 px-36 border border-dark border-2 text-center">
                            <figure>
                                <img
                                    class="mb-8"
                                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/089c08805225f9e5861d199b084cba8a05bdaa40/2023week6/cate03.svg"
                                    alt="展覽"
                                />
                                <figcaption class="font-title fw-bold">展覽</figcaption>
                            </figure>
                        </li>
                        <li class="mb-8 list-unstyled pt-20 pt-md-36 px-36 border border-dark border-2 text-center">
                            <figure>
                                <img
                                    class="mb-8"
                                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/089c08805225f9e5861d199b084cba8a05bdaa40/2023week6/cate04.svg"
                                    alt="美食"
                                />
                                <figcaption class="font-title fw-bold">美食</figcaption>
                            </figure>
                        </li>
                        <li class="mb-8 list-unstyled pt-20 pt-md-36 px-36 border border-dark border-2 text-center">
                            <figure>
                                <img
                                    class="mb-8"
                                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/089c08805225f9e5861d199b084cba8a05bdaa40/2023week6/cate05.svg"
                                    alt="戶外"
                                />
                                <figcaption class="font-title fw-bold">戶外</figcaption>
                            </figure>
                        </li>
                        <li
                            class="mb-8 list-unstyled pt-20 pt-md-20 border border-dark border-2 text-center d-flex flex-column justify-content-center bg-dark"
                        >
                            <figure>
                                <a href="#" class="font-title fw-bold lh-sm text-warning">
                                    探索 <span class="d-block">更多</span>
                                </a>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- RECENT -->
            <div class="recent py-16">
                <div
                    class="title mb-24 py-16 py-md-24 px-12 px-md-32 d-flex justify-content-between align-items-center border border-dark border-2"
                >
                    <h2 class="title-l m-0 font-title">RECENT</h2>
                    <h2 class="title-r m-0 font-subtitle fw-bold">近期活動</h2>
                </div>
                <ul class="row p-0">
                    <li class="list-unstyled col-md-4 col-sm-6 mb-24">
                        <div class="event-card">
                            <div class="date mb-16 font-title border-dark border-bottom border-2">19 MAY 2023</div>
                            <img
                                class="mb-8"
                                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/01.jpg"
                                alt=""
                                width="100%"
                            />
                            <div class="card-title mb-8 font-title fw-bold">邪典電影派對——房間</div>
                            <div class="card-content mb-16">
                                你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                                製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，...
                            </div>
                            <div
                                class="card-action py-8 d-flex justify-content-between align-items-center fs-3 fw-bold border-top border-bottom border-2 border-dark"
                            >
                                <div class="font-subtitle d-flex">
                                    <img
                                        class="sparkle me-4"
                                        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                                        alt=""
                                    />
                                    <a href="" class="social d-inline-block">社群活動</a>
                                </div>
                                <a href="#" class="sale d-inline-block">開賣中<i class="icofont-double-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="list-unstyled col-md-4 col-sm-6 mb-24">
                        <div class="event-card">
                            <div class="date mb-16 font-title border-dark border-bottom border-2">19 MAY 2023</div>
                            <img
                                class="mb-8"
                                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/02.jpg"
                                alt=""
                                width="100%"
                            />
                            <div class="card-title mb-8 font-title fw-bold">邪典電影派對——房間</div>
                            <div class="card-content mb-16">
                                你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                                製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，...
                            </div>
                            <div
                                class="card-action py-8 d-flex justify-content-between align-items-center fs-3 fw-bold border-top border-bottom border-2 border-dark"
                            >
                                <div class="font-subtitle d-flex">
                                    <img
                                        class="sparkle me-4"
                                        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                                        alt=""
                                    />
                                    <div>社群活動</div>
                                </div>
                                <a href="#" class="d-inline-block">開賣中<i class="icofont-double-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="list-unstyled col-md-4 col-sm-6 mb-24">
                        <div class="event-card">
                            <div class="date mb-16 font-title border-dark border-bottom border-2">19 MAY 2023</div>
                            <img
                                class="mb-8"
                                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/03.jpg"
                                alt=""
                                width="100%"
                            />
                            <div class="card-title mb-8 font-title fw-bold">邪典電影派對——房間</div>
                            <div class="card-content mb-16">
                                你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                                製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，...
                            </div>
                            <div
                                class="card-action py-8 d-flex justify-content-between align-items-center fs-3 fw-bold border-top border-bottom border-2 border-dark"
                            >
                                <div class="font-subtitle d-flex">
                                    <img
                                        class="sparkle me-4"
                                        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                                        alt=""
                                    />
                                    <div>社群活動</div>
                                </div>
                                <a href="#" class="d-inline-block">開賣中<i class="icofont-double-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="list-unstyled"></li>
                    <li class="list-unstyled"></li>
                    <li class="list-unstyled"></li>
                    <li class="list-unstyled"></li>
                </ul>
            </div>

            <!-- ONLINE -->
            <div class="online">
                <div
                    class="title mb-24 py-16 py-md-24 px-12 px-md-32 d-flex justify-content-between align-items-center border border-dark border-2"
                >
                    <h2 class="title-l m-0 font-title">ONLINE</h2>
                    <h2 class="title-r m-0 font-subtitle fw-bold">線上活動</h2>
                </div>
            </div>
        </div>
        <!-- CAROUSEL -->
        <%- include('./layout/carousel'); -%>

        <!-- GROUP EVENT -->
        <div class="container"></div>
        <!-- CAROUSEL -->
        <%- include('./layout/carousel'); -%>

        <!-- FOLLOW & SUBSCRIBE -->
        <div class="container"></div>
        <!-- CAPTION -->

        <%- include('./layout/footer'); -%>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script type="module" src="../main.js"></script>
    </body>
</html>
